@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
html,body{

    min-width: 100vh;
    background-color: darkcyan;
    font-family: var(--fonte1);
}
:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'passione one', cursive;
    --fonte3: 'Sriracha', cursive;
   
}
header{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    padding: 50px;
    margin: auto;
}
   
a{
    color: white;
    text-decoration: none;
    font-weight: bolde;
}
a:hover{
    text-decoration: underline;
}


header>h1{
    font-family: var(--fonte2);
      padding: 21px 4px 0px 4px;
    font-size: 6vw;
    /*muda pra maiúscula*/
       text-transform: uppercase;
    /*deixa as primeiras letras maiores*/
    font-variant: small-caps;
  
}
header>p{
    font-size: 1em;
    padding: 1px;
  padding-bottom: 4px;
  
}
section{
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    /*espacamento entre as linhas*/
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vw;
}

section.normal{
    background-color:white;
    color: black;

       
}
section.normal>p{
    padding: 10px;
    
}
   
section.img{
  background-color: rgba(0, 0, 0, 0.452); 
  color: white;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
  background-size: cover;
  /*fixa imagem efeito paralax*/
  background-attachment: fixed;

}

section.img > p{
    background-color: rgba(0, 0, 0, 0.356);
    display: inline-block;
    padding: 10px;
    text-shadow: 2px 2px 2px black;
    
    
}
selection >p{
    padding-bottom: 2em;
}
#fundo001{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}
#fundo002{
    background-image: url(imagens/background002.jpg);
    background-position: center center;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
 
   
}